[data-moyaforge-navigation-tree] {
  --navigation-tree-gap: 0.125rem;
  --navigation-tree-indent: 1rem;

  --_navigation-tree-gap: var(--navigation-tree-gap);
  --_navigation-tree-indent: var(--navigation-tree-indent);

  display: grid;
  gap: var(--_navigation-tree-gap);
  margin: 0;
  padding: 0;
  list-style: none;
}

[data-moyaforge-navigation-tree] [data-moyaforge-navigation-tree] {
  margin-left: var(--_navigation-tree-indent);
}
