[data-moyaforge-source] {

  --_source-background: var(--source-background, transparent);
  --_source-color: var(--source-color, inherit);
  --_source-padding: var(--source-padding, 1rem);
  --_source-border-radius: var(--source-border-radius, 0);

  margin: 0;
  padding: var(--_source-padding);
  border-radius: var(--_source-border-radius);
  background: var(--_source-background);
  color: var(--_source-color);
  overflow: auto;
}
