[data-moyaforge-source] {

  --_source-background: var(--_source-background);
  --_source-color: var(--_source-color);
  --_source-padding: var(--_source-padding);
  --_source-border-radius: var(--_source-border-radius);

  margin: 0;
  padding: var(--_source-padding);
  border-radius: var(--_source-border-radius);
  background: var(--_source-background);
  color: var(--_source-color);
  overflow: auto;
}
