[data-moyaforge-toc] {
  --toc-color: inherit;
  --toc-gap: 0.25rem;
  --toc-indent: 1rem;

  --_toc-color: var(--toc-color);
  --_toc-gap: var(--toc-gap);
  --_toc-indent: var(--toc-indent);

  color: var(--_toc-color);
}

[data-moyaforge-toc] ul {
  display: grid;
  gap: var(--_toc-gap);
  margin: 0;
  padding: 0;
  list-style: none;
}

[data-moyaforge-toc] [data-level="3"] {
  margin-left: var(--_toc-indent);
}
