[data-moyaforge-page] {

  --_page-width: var(--page-width, 100%);
  --_page-max-width: var(--page-max-width, none);
  --_page-padding: var(--page-padding, 0);

  width: var(--_page-width);
  max-width: var(--_page-max-width);
  padding: var(--_page-padding);
}
