[data-moyaforge-copy-button] {

  --_copy-button-color: var(--copy-button-color, inherit);
  --_copy-button-background: var(--copy-button-background, transparent);
  --_copy-button-border-color: var(--copy-button-border-color, currentColor);
  --_copy-button-border-radius: var(--copy-button-border-radius, 0);
  --_copy-button-padding: var(--copy-button-padding, 0.375rem 0.625rem);

  border: 1px solid var(--_copy-button-border-color);
  border-radius: var(--_copy-button-border-radius);
  padding: var(--_copy-button-padding);
  background: var(--_copy-button-background);
  color: var(--_copy-button-color);
}
