[data-moyaforge-copy-button] {
  --copy-button-color: inherit;
  --copy-button-background: transparent;
  --copy-button-border-color: currentColor;
  --copy-button-border-radius: 0;
  --copy-button-padding: 0.375rem 0.625rem;

  --_copy-button-color: var(--copy-button-color);
  --_copy-button-background: var(--copy-button-background);
  --_copy-button-border-color: var(--copy-button-border-color);
  --_copy-button-border-radius: var(--copy-button-border-radius);
  --_copy-button-padding: var(--copy-button-padding);

  border: 1px solid var(--_copy-button-border-color);
  border-radius: var(--_copy-button-border-radius);
  padding: var(--_copy-button-padding);
  background: var(--_copy-button-background);
  color: var(--_copy-button-color);
}
